<!doctype html>
<html>
    <head>
        <title>Поиграться со шрифтиками!</title>
        <meta name="Discription" content="Здесь вы можете поиграться со шрифтиками!" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    </head>
    <body>
        {% if url %}
            <div id="content">
                {% if url %}
                    <iframe src="{{ url_for('.render', url=url) }}" id='content-frame'></iframe>
                {% endif %}
            </div>
        {% endif %}
        <div id="search-form" class="{{ 'to-top' if url else '' }}"
            style="background:url('{{ bg if url else '' }}')">
            <div id="likes">
                <!-- facebook -->
                <div class="fb-like" data-href="https://поигратьсясошрифтиками.рф" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                <!-- twitter -->
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://поигратьсясошрифтиками.рф" data-text="Теперь я могу делать это каждый день">Tweet</a>
                <!-- vk -->
                <div id="vk_like"></div>
                <script type="text/javascript">
                VK.Widgets.Like("vk_like", {type: "mini"});
                </script>
            </div>
            <form method="GET">
                <input name="url" value="{{ url }}" placeholder="Адрес сайта" id="url" />
                <input type="submit" value="Поиграться со шрифтиками!" />
            </form>
        </div>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-55367986-1', 'auto');
          ga('send', 'pageview');
        </script>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        
        <script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script>
        <script type="text/javascript">
          VK.init({apiId: 4573320, onlyWidgets: true});
        </script>
    </body>
</html>