<!doctype html>
<html>
    <head>
        <title>Поиграться со шрифтиками</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    </head>
    <body>
        <div id="search-form">
            <form method="GET">
                <input name="url" value="{{ url }}" />
                <input type="submit" value="Поиграться со шрифтиками!" />
            </form>
        </div>
        <div id="content">
            {% if url %}
                <iframe src="{{ url_for('.render', url=url) }}" id='content-frame'></iframe>
            {% endif %}
        </div>

        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>